<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" />
</head>

<body>
    <div class="container"></div>
    <header>
        <h1>Headlines - The Lorem Ipsum</h1>
        <nav>
            <a href="index.html">Headlines</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <main>

    </main>
    <article class="art-1">
        <h2>Dog saves child</h2>
        <img src="retriever.jpeg" alt="The dog that saved the child">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, dolorum impedit? Voluptatibus distinctio
            sapiente eaque debitis fuga explicabo, nemo, maiores quisquam nobis modi atque, consequuntur quaerat hic
            quod esse! Odit?
            Sint impedit quo eligendi, placeat voluptate id quis maxime dignissimos recusandae iure aspernatur nostrum
            dolorum illo? Vitae, ad dolores! Molestiae qui voluptas a quos consequuntur odit deleniti fuga fugiat
            aperiam?
            Quia voluptatibus porro molestias repellendus omnis placeat odio exercitationem error vel saepe doloribus
            nostrum adipisci, quidem debitis id animi fuga dolorum veniam ea. Odio cumque aperiam quaerat accusantium.
            Vel, tenetur?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum fugiat amet eos accusantium officia animi!
            Id enim quasi, sunt possimus, in officiis dicta eaque sapiente nulla quia quod sint. Est.</p>
    </article>
    <article class="art-2">
        <h2>Fusion works</h2>
        <img src="fusion.webp" alt="The Fusion Reactor">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, dolorum impedit? Voluptatibus distinctio
            sapiente eaque debitis fuga explicabo, nemo, maiores quisquam nobis modi atque, consequuntur quaerat hic
            quod esse! Odit?
            Sint impedit quo eligendi, placeat voluptate id quis maxime dignissimos recusandae iure aspernatur nostrum
            dolorum illo? Vitae, ad dolores! Molestiae qui voluptas a quos consequuntur odit deleniti fuga fugiat
            aperiam?
            Quia voluptatibus porro molestias repellendus omnis placeat odio exercitationem error vel saepe doloribus
            nostrum adipisci, quidem debitis id animi fuga dolorum veniam ea. Odio cumque aperiam quaerat accusantium.
            Vel, tenetur?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum fugiat amet eos accusantium officia animi!
            Id enim quasi, sunt possimus, in officiis dicta eaque sapiente nulla quia quod sint. Est.</p>
    </article>
    <footer>
        <img src="sun.png" alt="Sun Symbol">
        Stockholm -33&#176C
    </footer>

</body>

</html>